@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<ol>
    <li>
        Create online plugin manager for:
        <ul>
            <li>
                Upload plugins
            </li>
            <li>
                Activate/Deactivate plugins
            </li>
        </ul>
    </li>
    <li>
        Create version system for plugins
    </li>
    <li>
        Make posible to manage plugins without restart application
    </li>
    <li>
        Update plugins system to add new features:
        <ul>
            <li>
                Store plugins with dependent assemblies in zip archives
            </li>
            <li>
                Remove dependency of plugin from assemblies stored in /bin directory
            </li>
        </ul>
    </li>
</ol>